.navbar {
  width: 100%;
  position: fixed;
  top:0;
  height: 60px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1{
  font-size:1.2rem;
  color:#fff;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 18px;
}
